:root{
    /*Colores predeterminados*/
    --Very-ligh-pink: #c7c7c7;
    --White: #FFFF;
    --Text-input-field: #f7f7f7;
    --Hospital-green: #ACD9B2;
    --Black: #000;
    --Dark: #232830;
    /*Estilos de fuentes*/
    --sm:1.4rem;
    --md:1.6rem;
    --lg:2.0rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}
.inactive{
    display: none;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--Very-ligh-pink);
}
/* Menu Principal */
.menu{
    cursor: pointer;
    display: none;
}
.logo{
    width: 100px;
}
.menu-left ul,.menu-right ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
}
.menu-left{
    display: flex;
}
.menu-left ul{
    margin-left: 10px;
}
.menu-left ul li a,.menu-right ul li a{
    text-decoration: none;
    font-size: var(--md);
    color: var(--Very-ligh-pink);
    border: 1px solid var(--White);
    padding: 8px;
    border-radius: 6px;
}
.menu-left ul li a:hover,.menu-right ul li a:hover{
    color: var(--Hospital-green);
    border: 1px solid var(--Hospital-green);
}
.nav-email{
    cursor: pointer;
    color: var(--Very-ligh-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.img-shopping{
    position: relative;
}
.img-shopping div{
    width: 10px;
    height: 10px;
    background-color: var(--Hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -2px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop-menu{
    position: absolute;
    background-color: var(--White);
    top: 60px;
    right: 30px;
    width: 132px;
    height: auto;
    border: var(--Very-ligh-pink) solid 1px;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul li a{
    text-decoration: none;
}
.desktop-menu ul{
    list-style: none;
    margin: 0px;
}
.title{
    color: var(--Black);
    font-size: var(--md);
    font-weight: bold;
}
/* Desktop Menu */
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:last-child{
    border-top: var(--Very-ligh-pink) solid 1px;
    padding-top: 20px;
    color: var(--Hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}
.out{
    color: var(--Hospital-green);
    font-size: var(--sm);
    font-weight: 200;
}

/*Menu mobile*/

.mobile-menu{
    background-color: var();
    top: 50px;
    position: absolute;
    padding: 24px;
}
.mobile-menu a{
    text-decoration: none;
}
.mobile-menu ul{
    list-style: none;
    margin-top: 24px;
}
.mobile-menu ul:nth-child(2){
    padding-top: 20px;
    border-top: var(--Very-ligh-pink) solid 1px;
}
.mobile-menu ul:nth-child(1) li a{
    color: var(--Black);
    font-size: var(--md);
    font-weight: bold;
}
.mobile-menu ul:nth-child(2) li a{
    color: var(--Black);
    font-size: var(--md);
    font-weight: bold;
}
.mobile-menu ul:nth-child(3) li a{
    color: var(--Black);
    font-size: var(--sm);
}
.mobile-menu ul:nth-child(3) li:nth-child(2) a{
    color: var(--Hospital-green);
    font-weight: bold;
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
/* Carrito de compras */
.shopping-car figure img{
    width:70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.container-order{
    background-color: var(--White);
    width: auto;
    position: absolute;
    right: 0;
    padding: 20px;
}
.container-order__card{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.container-price{
    display: flex;
    flex-direction: column-reverse;
  }
.container-order__title{
    color: var(--Black);
    font-size: var(--md);
    margin-bottom: 24px;
}
.price {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--Text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 20px;
    order: 2;
}
.price p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .price p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .price p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--Very-ligh-pink);
  }
  .price p:nth-child(2) {
    text-align: end;
    font-size: var(--md);
    font-weight: bold;
  }
.shopping-car{
    order: 3;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
.shopping-car p:nth-child(3){
    color: var(--Black);
    font-size: var(--md);
    font-weight: bold;
}
.shopping-car p:nth-child(2){
    color: var(--Very-ligh-pink);
    font-size: var(--md);
}
.primary-botton{
    background-color: var(--Hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--White);
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    order: 1;
}
.container-order__title img{
    transform: rotate(180deg);
    margin-right: 14px;
}
@media (max-width:640px){
    .menu{
        display: block;
    }
    .menu-left ul{
        display: none;
    }
    .nav-email{
        display: none;
    }
    .desktop-menu{
        display: none;
    }
    .container-order{
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .container-order__card{
        width: 100%;
    }
    .inactive{
        display: none;
    }
}
@media (min-width:641px){
    .mobile-menu{
        display: none;
    }
}